#Compiled object files
*.slo
*.lo
*.o
*.obj

# Fortran module files
*.mod
*.smod

# Executables
*.exe
*.out
*.app

#creational patterns
#singleton
# factory
# prototype
# builder

# #structural patterns
# adapter
# bridge 
# composite
# decorator
# facade
# flyweight
# proxy

# #behavioral patterns
# chain
# command
# interpreter
# iterator
# mediator
# memento
# observer
# state
# strategy
# template
# visitor


# VS directory
.vs/

# CMake
CMakeLists.txt.user*
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

#Json
*.json

build/behavioral/*
build/creational/*
build/structural/*